{% extends 'attendence_sys/main.html' %}
{% block content %}
{% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
	{% endfor %}
{% if ta == False %}
<center><h1>Search Attendance</h1></center>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<center>
				<form method="get">
					{{myFilter.form}}

		    		<button class="btn btn-primary" type="submit">Search</button>
				</form>
			</center>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-sm-12">
		<div class="card card-body">
			<table class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Student ID</th>
					<th>Branch</th>
					<th>Year</th>
					<th>Section</th>
					<th>Period</th>
					<th>Status</th>
					<th>Faculty Name</th>
				</tr>

				{% for attendence in attendences %}

				<tr>
					<td>{{ attendence.date }}</td>
					<td>{{ attendence.time }}</td>
                    <td>{{ attendence.Student_ID }}</td>
					<td>{{ attendence.branch }}</td>
					<td>{{ attendence.year }}</td>
					<td>{{ attendence.section }}</td>
					<td>{{ attendence.period }}</td>
					<td>{{ attendence.status }}</td>
					<td>{{ attendence.Faculty_Name }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% else %}
	<center><h1>Present Period Attendance</h1></center>
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<td>Date</td>
						<td>Time</td>
						<th>Student ID</th>
						<th>Branch</th>
						<th>Year</th>
						<th>Section</th>
						<th>Period</th>
						<th>Status</th>
						<th>Faculty Name</th>
					</tr>
	
					{% for attendence in attendences %}
	
					<tr>
						<td>{{ attendence.date }}</td>
						<td>{{ attendence.time }}</td>
						<td>{{ attendence.Student_ID }}</td>
						<td>{{ attendence.branch }}</td>
						<td>{{ attendence.year }}</td>
						<td>{{ attendence.section }}</td>
						<td>{{ attendence.period }}</td>
						<td>{{ attendence.status }}</td>
						<td>{{ attendence.Faculty_Name }}</td>
					</tr>
					{% endfor %}
	
				</table>
			</div>
		</div>
	</div>
{% endif %}


{% endblock %}